<app-decor class="block-finder__decor" type="bottom"></app-decor>
<div
    class="block-finder__image"
    style="background-color: white; opacity: 1;"
></div>
<div class="block-finder__body container container--max--xl">
    <div
        class="block-finder__title"
        style="color: royalblue; margin-bottom: 30px; margin-top: 10px;"
    >
        <i class="fas fa-car fa-3x"></i>
    </div>
    <!-- <div class="block-finder__subtitle">{{ 'TEXT_BLOCK_FINDER_SUBTITLE'|translate }}</div> -->
    <div class="warpper">
        <input class="radio" id="one" name="group" type="radio" checked />
        <input class="radio" id="two" name="group" type="radio" />
        <input class="radio" id="three" name="group" type="radio" />
        <div class="tabs">
            <label class="tab" id="one-tab" for="one">Buy</label>
            <!-- <label class="tab" id="two-tab" for="two">Rent</label> -->
            <label class="tab" id="three-tab" for="three">Plan</label>
        </div>
        <div class="panels">
            <div class="panel" id="one-panel">
                <div
                    class="block-finder__body container container--max--xl w-100"
                >
                    <form class="block-finder__form" (submit)="submit()">
                        <!-- <select
                            class="vehicle-select__item-control"
                            #selectedBrand
                            (change)="onBrandSelected(selectedBrand.value)"
                        >
                            <option value="none">Brand</option>
                            <option value="Ford">Ford</option>
                            <option value="Audi">Audi</option>
                            <option value="BMW">BMW</option>
                        </select> -->

                        <div style="width: 100%; color: black;">
                            <button class="filter-btn" (click)="showBrands()">
                                <div style="float: left;">
                                    Brand
                                </div>
                                <div style="float: right;">
                                    <img
                                        src="../../../../assets/images/arrow-img.png"
                                        alt=""
                                        width="18px"
                                    />
                                </div>
                                <div style="float: right; margin: 2px;">
                                    {{ filterdBrands }}
                                </div>
                            </button>
                            <br />
                            <div *ngIf="brandShowen">
                                <div>
                                    <label class="checkBoxContainer"
                                        >Audi
                                        <input
                                            type="checkbox"
                                            value="Audi"
                                            #audi
                                            (change)="addBrand(audi.value)"
                                        />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="checkBoxContainer"
                                        >BMW
                                        <input
                                            type="checkbox"
                                            value="BMW"
                                            #BMW
                                            (change)="addBrand(BMW.value)"
                                        />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="checkBoxContainer"
                                        >Ford
                                        <input
                                            type="checkbox"
                                            value="Ford"
                                            #ford
                                            (change)="addBrand(ford.value)"
                                        />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <br />

                        <div style="width: 100%; color: black;">
                            <button class="filter-btn" (click)="showUYear()">
                                <div style="float: left;">
                                    Year
                                </div>
                                <div style="float: right;">
                                    <img
                                        src="../../../../assets/images/arrow-img.png"
                                        alt=""
                                        width="18px"
                                    />
                                </div>
                                <div style="float: right; margin: 2px;">
                                    All
                                </div>
                            </button>
                            <br />
                            <div *ngIf="yearsFilter">
                                <div>
                                    <div
                                        class="block-finder__body container container--max--xl"
                                    >
                                        <input
                                            type="range"
                                            min="2010"
                                            max="2020"
                                            value="0"
                                            class="slider"
                                            #carYear
                                            (change)="
                                                onCarYearChange(carYear.value)
                                            "
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            title="{{ carYear }}"
                                            (input)="
                                                onCarYearChange(carYear.value)
                                            "
                                        />
                                        <p style="color: black;">
                                            {{ carYear.value }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <br />

                        <div style="width: 100%; color: black;">
                            <button class="filter-btn" (click)="showPrice()">
                                <div style="float: left;">
                                    Price
                                </div>
                                <div style="float: right;">
                                    <img
                                        src="../../../../assets/images/arrow-img.png"
                                        alt=""
                                        width="18px"
                                    />
                                </div>
                                <div style="float: right; margin: 2px;">
                                    {{ minPrice }} - {{ maxPrice }}
                                </div>
                            </button>
                            <br />
                            <div *ngIf="priceFilter">
                                <div>
                                    <label for="min">Min</label>
                                    <input
                                        type="number"
                                        name="min"
                                        id=""
                                        value="0"
                                        #min
                                        (input)="changeMinPrice(min.value)"
                                        style="width: 50%; margin: 10px;"
                                    />
                                    <br />
                                    <label for="Max">Max</label>
                                    <input
                                        type="number"
                                        name="max"
                                        id=""
                                        value="100000"
                                        #max
                                        (input)="changeMaxPrice(max.value)"
                                        style="width: 50%; margin: 10px;"
                                    />
                                </div>
                            </div>
                        </div>
                        <hr />

                        <!-- <select
                            class="vehicle-select__item-control"
                            #selectedYear
                            (change)="onYearSelected(selectedYear.value)"
                        >
                            <option value="all">Year </option>
                            <option value="2015" name="" id="">
                                2015
                            </option>
                            <option value="2016" name="" id="">
                                2016
                            </option>
                            <option value="2017" name="" id="">
                                2017
                            </option>
                            <option value="2018" name="" id="">
                                2018
                            </option>
                            <option value="2019" name="" id="">
                                2019
                            </option>
                            <option value="2020" name="" id="">
                                2020
                            </option>
                        </select> -->

                        <!-- <select
                            class="vehicle-select__item-control"
                            #selectedPrice
                            (change)="onYearSelected(selectedYear.value)"
                        >
                            <option value="all">Price </option>

                            <option value="0-10000">
                                0-10,000
                            </option>
                            <option value="10001-15000">10,001-15,000 </option>
                            <option value="15001-20000">15,001-20,000 </option>
                            <option value="20001-50000">20,001-50,00 </option>
                        </select> -->

                        <a
                            [routerLink]="['/shop/category/cars']"
                            [queryParams]="{
                                brand: filterdBrands,
                                year: carYear,
                                price: minPrice + '-' + maxPrice
                            }"
                        >
                            <button class="block-finder__button" type="submit">
                                {{ "BUTTON_BLOCK_FINDER_SEARCH" | translate }}
                            </button></a
                        >
                    </form>
                </div>
            </div>

            <div class="panel" id="two-panel">
                <div class="block-finder__body container container--max--xl">
                    <form class="block-finder__form" (submit)="submit()">
                        <select
                            class="vehicle-select__item-control"
                            #selectedBrand
                            (change)="onBrandSelected(selectedBrand.value)"
                        >
                            <option value="none">Brand</option>
                            <option value="Ford">Ford</option>
                            <option value="Audi">Audi</option>
                            <option value="BMW">BMW</option>
                        </select>

                        <select
                            class="vehicle-select__item-control"
                            #selectedYear
                            (change)="onYearSelected(selectedYear.value)"
                        >
                            <option value="all">Year </option>
                            <option value="2015" name="" id="">
                                2015
                            </option>
                            <option value="2016" name="" id="">
                                2016
                            </option>
                            <option value="2017" name="" id="">
                                2017
                            </option>
                            <option value="2018" name="" id="">
                                2018
                            </option>
                            <option value="2019" name="" id="">
                                2019
                            </option>
                            <option value="2020" name="" id="">
                                2020
                            </option>
                        </select>

                        <select
                            class="vehicle-select__item-control"
                            #selectedPrice
                            (change)="onYearSelected(selectedYear.value)"
                        >
                            <option value="all">Price </option>

                            <option value="0-10000">
                                0-10,000
                            </option>
                            <option value="10001-15000">10,001-15,000 </option>
                            <option value="15001-20000">15,001-20,000 </option>
                            <option value="20001-50000">20,001-50,00 </option>
                        </select>

                        <a
                            [routerLink]="['/shop/category/cars']"
                            [queryParams]="{
                                brand: filterdBrands,
                                year: selectedYear.value,
                                price: selectedPrice.value
                            }"
                        >
                            <button class="block-finder__button" type="submit">
                                {{ "BUTTON_BLOCK_FINDER_SEARCH" | translate }}
                            </button></a
                        >
                    </form>
                </div>
            </div>
            <div class="panel" id="three-panel">
                <!-- <h5>How much I make monthlly</h5> -->
                <!-- <div class="block-finder__body container container--max--xl">
                    <input
                        type="range"
                        min="1"
                        max="10000"
                        value="0"
                        class="slider"
                        (change)="onChangeIncomeValue(income.value)"
                        data-toggle="tooltip"
                        data-placement="top"
                        trigger="click"
                        title="{{ incomeValue }}"
                        (input)="changeIncome(income.value)"
                        #income
                    />
                    <p style="color: black;">{{ income.value }} $</p>
                </div> -->

                <h5>What is your gross monthly income</h5>

                <div class="block-finder__body container container--max--xl">
                    <input
                        type="range"
                        min="0"
                        max="10000"
                        value="0"
                        class="slider"
                        #monthlyinstallment
                        (change)="
                            onChangeMonthlyInstallmentValue(
                                monthlyinstallment.value
                            )
                        "
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{{ monthlyinstallmentValue }}"
                        (input)="
                            onChangeMonthlyInstallmentValue(
                                monthlyinstallment.value
                            )
                        "
                    />
                    <p style="color: black;">{{ monthlyinstallmentValue }} $</p>
                </div>

                <h5>How much I have as downpayment</h5>

                <div class="block-finder__body container container--max--xl">
                    <input
                        type="range"
                        min="0"
                        max="10000"
                        value="0"
                        class="slider"
                        #downpayment
                        (change)="onChangedownpaymentValue(downpayment.value)"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{{ downpayment }}"
                        (input)="onChangedownpaymentValue(downpayment.value)"
                    />
                    <p style="color: black;">{{ downpaymentValue }} $</p>
                </div>

                <h5 *ngIf="isVisable">what is your monthly income debt repayment</h5>

                <div class="block-finder__body container container--max--xl" *ngIf="isVisable">
                    <p
                        style="
                            color: black;
                            text-align: center;
                            float: right;
                            width: 15%;
                        "
                    >
                        {{ liabilitiesValue }} $
                    </p>
                    <input
                        type="range"
                        min="0"
                        max="10000"
                        value="0"
                        class="slider"
                        #liabilities
                        style="width: 60%; float: right;"
                        (change)="onChangeLiabilitiesValue(liabilities.value)"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{{ liabilitiesValue }}"
                        (input)="onChangeLiabilitiesValue(liabilities.value)"
                    />
                    <h6 style="float: right; width: 20%;">Loan</h6>
                </div>
                <br />

                <br />

                <div class="block-finder__body container container--max--xl" *ngIf="isVisable">
                    <p
                        style="
                            color: black;
                            text-align: center;
                            float: right;
                            width: 15%;
                        "
                    >
                        {{ creditValue }} $
                    </p>
                    <input
                        type="range"
                        min="0"
                        max="10000"
                        value="0"
                        class="slider"
                        #credit
                        style="width: 60%; float: right;"
                        (change)="onChangeLCreditValue(credit.value)"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{{ creditValue }}"
                        (input)="onChangeLCreditValue(credit.value)"
                    />

                    <h6 style="float: right; width: 20%;">Credit</h6>
                </div>

                <br />
                <br />
                <br />

                <h5 *ngIf="isVisable">What is your preferred loan period</h5>

                <div class="block-finder__body container container--max--xl" *ngIf="isVisable">
                    <input
                        type="range"
                        min="0"
                        max="30"
                        value="0"
                        class="slider"
                        #years
                        (change)="onChangeYearsValue(years.value)"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Tooltip on top"
                        (input)="onChangeYearsValue(years.value)"
                    />
                    <p style="color: black;">
                        {{ yearsValue }} Years
                        <!-- -
                        {{ yearsValue / 12 | number: "2.1-2" }} Years -->
                    </p>
                </div>
                <div *ngIf="yearsValue > 0 && mmmm > 0">
                    <h5>You are eligible to take a loan for car cost</h5>
                    <h3 style="color: black;">
                        {{ mmmm }}
                        $
                    </h3>
                    <h6
                        *ngIf="yearsValue > 0 && mmmm > 0 && monthlyRepaument>0"
                        style="color: black;"
                    >
                        monthly installment : {{ monthlyRepaument }}
                    </h6>
                    <h5>with 7% interest rate</h5>
                </div>
                <div *ngIf="yearsValue > 0 && mmmm < 0">
                    <h5 style="color: red;">you are not eligible for Auto loan</h5>
                </div>
                <div *ngIf="yearsValue > 0 && mmmm > 0">
                    <a
                        [routerLink]="['/shop/category/cars']"
                        [queryParams]="{
                            brand: 'All',
                            year: 'all',
                            price:
                                '0-' + mmmm
                        }"
                    >
                        <button class="block-finder__button" type="submit">
                            {{ "BUTTON_BLOCK_FINDER_SEARCH" | translate }}
                        </button></a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
